<div class="container">
  <div class="row">
      <div class="col-md-12">
           <form>
               <div class="row form-group justify-content-center">
                   <div class="col-4">
                       <label for="name">Name</label>
                   </div>
                   <div class="col-4">
                       <input type="text" appIsValid class="form-control" id="name" placeholder="Enter name" required = true>
                       <div class="invalid-feedback">
                              Please provide Name!
                      </div>
                   </div>
               </div>
               <div class="row form-group justify-content-center">
                      <div class="col-4">
                          <label for="age">Age</label>
                      </div>
                      <div class="col-4">
                          <input appIsValid type="number" class="form-control" id="age" placeholder="Enter age" required>
                          <div class="invalid-feedback">
                                  Please provide valid age!
                          </div>
                      </div>
               </div>
              <div class="row form-group justify-content-center">
                  <div class="col-4">
                      <label for="dob">Date of Birth</label>
                  </div>
                  <div class="col-4">
                      <input appIsValid type="date" class="form-control" id="dob" placeholder="Enter dob" required>
                      <div class="invalid-feedback">
                              Please provide date!
                      </div>
                  </div>
              </div>
              <div class="row form-group justify-content-center">
                  <div class="col-4">
                      <label for="occupation">Occupation</label>
                  </div>
                  <div class="col-4">
                      <select id="occupation" class="form-control" appIsValid required>
                          <option value="" selected>--Choose -- </option>
                          <option value="Light Manual">Cleaner</option>
                          <option>Doctor</option>
                          <option>Author</option>
                          <option>Farmer</option>
                          <option>Mechanic</option>
                          <option>Florist</option>
                      </select>
                      <div class="invalid-feedback">
                              Please choose valid option!
                      </div>
                  </div>
              </div>
              <div class="row form-group justify-content-center">
                  <div class="col-4">
                      <label for="deathSumInsured">Death Sum Insured</label>
                  </div>
                  <div class="col-4">
                      <input type="text" class="form-control" id="name" placeholder="Sum Insured"  required readonly>
                  </div>
              </div>
          </form> 
      </div>
  </div>
</div>